html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    background-size: cover;
    overflow: hidden;
}

h1,h2,h3,a,p {
    color: white;   
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2vh;
}

a {
    cursor: pointer;
}

h3 {
    color: #ff8305;
}

.landingVid {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: fill;
    z-index: 0;
    visibility: visible;
}

.title {
    width:15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid white;
    z-index: 1;
}

.last-name h2{
    color: #ff8305;
}

.social-media {
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.social-media a {
    margin: 0 2%;
}

.social-media img {
    width: 1.5vw;
}

.twitter {
    opacity: 1;
}

.top-img {
    position: absolute;
    transition: all 0.4s;
}

.top-img:hover {
    opacity: 0;
}


.nav {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    margin: 0 3%;
    font-size: 1.4em;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
}

nav a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #ff8305;
    transition: 0.4s ;
    margin-bottom: -2px;
}

nav a:hover:after {
    width: 100%;
}

.page-visible {
    opacity: 1;
    visibility: visible;
    border-right: 2px solid white;
    margin-right: -2px;
    transition: 0.4s;
}

.page-hidden {
    opacity: 0;
    visibility: hidden;
    margin-right: -2px;
    transition: 0.4s;
}

.active {
    border-right: 2px solid #ff8305;
    margin-right: -2px;
    transition: all 0.4; 
}

.layered {
    position: absolute;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.4s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.selected {
    border-bottom: 2px solid #ff8305;
    margin-bottom: -2px;
}

.content-wrapper {
    display: flex;
    width: 100vw;
    height: auto;
    margin-bottom: 2vh; 
}

.side-section {
    width: 15vw;
    height: 86vh;
    display: flex;
    border-right: 2px solid white;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}

.side-section img {
    width: 0.7vw;
}

.side-section a {
    padding: 5% 5%;
    font-weight: bold;
    font-size: 1.2em;
}

.main-section {
    display: flex;
    width: 75vw;
    height: 86vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 5vw;
    text-align: left;
}

.main-left {
    display: flex;
    width: 37.5vw;
    justify-content: space-around;
}

.main-right {
    display: flex;
    width: 37.5vw;
    justify-content: space-around;
}

.content-left {
    width: inherit;
    align-self: center;
}

.content-right {
    width: inherit;
    align-self: center;
}

.entry-img {
    width: 50vw;
}

.about-1 {
    margin-top: -2vh;
}

.about-1-description {
    background-color:rgba(0,0,0,0.8);
    border-top: 2px solid white;
    padding: 0 1vw 1vh 1vw;
}

.about-1-right img {
    width: 25vw;
    margin-left: 4vw;
}

.engineering-1 {
    display: flex;
    justify-content: space-around;
    width: inherit;
    height: inherit;
}

.module-container {
    width: 15vw;
    margin-top: 8vw;
}

.label-wrapper {
    display: block;
    width: inherit;
    height: 3vh;
}

.percentage-wrapper {
    display: flex;
    width: 7vw;
    height: 100%;
    float: right;
    justify-content: center;
    background-color: #f06200;
    opacity: 0.8;
}

.percentage-wrapper h3 {
    color: white;
    margin: 5% 0 0 0;
    font-size: 0.8em;
}

.level-wrapper {
    background-color: #ff8305;
    height: 5vh;
    padding-top: 2%;
    opacity: 0.8;
}

.level-wrapper h2 {
    margin: 0;
    text-align: center;
    font-size: 2em;
}

.module-list {
    margin: 0;
    padding: 1.5vh 1.5vw;
}

.module {
    padding: 0.5vw 0;
    list-style-type: none;
    color: white;
    font-weight: bold;
}
    
.modules-wrapper {
    background-color:rgba(0,0,0,0.8);
    border: solid 2px #ff8305;
}

.gaming-1-description {
    background-color:rgba(0,0,0,0.8);
    border-top: 2px solid white;
    padding: 0 1vw 1vh 1vw;
}

.gaming-1-right {
    width: inherit;
    margin-left: 4vw;
}

.imgSlider {
    border: 3px solid #ff8305;
    background-size: contain;
    width: 31vw;
    height: 34.15vh;
}

.esportsSlider {
    display: none;
    width: inherit;
    height: inherit;
    transition: all 0.4s;
}

.gaming-2, .gaming-2-right {
    background-color:rgba(0,0,0,0.8);
}

.gaming-2 {
    border-right: 2px solid white;
}

.event {
    display: flex;
    justify-content; 
    max-width: 35vw;
}

.org-img {
    height: 15vh;
}

.event-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.event-name h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0;
}

.event-date p {
    font-weight: bold;
}

.gaming-2 h3 {
    font-size: 1.7em;
}

.result-img {
    height: 5vh;
    align-self: center;
    margin: 0vh 0vw 5vh 1vw;
}

.media-1, .media-2, .media-3 {
    width: 75vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media-2 { 
    width: 85vw;
}

.media-1-left{
    width: 55%;
    margin-top: 2vw;
}

.media-1-right{
    width: 45%;
}

.media-info {
    background-color:rgba(0,0,0,0.8);
    border-top: 2px solid #ff8305;
    padding: 0 1vw 1vh 1vw;
}

.media-2-left {
    width: 50%;
    border-right: solid 2px white;
    align-content: center;
    margin-left: 5vw;
}

.media-2-right{
    width: 50%;
    margin-left: 5vw;
}

.media-title h2 {
    margin: 0;
    color: #ff8305;
    width: inherit;
}

.media-title h3 {
    margin: 0 0 1vh 0;
    color: white;
}

.media-2 h2{
    color: #ff8305;
    width: 50%;
}

.media-2 h3 {
    width: 50%;
}

.media-2-info {
    margin-bottom: 1vh;
}

.media-2-info, .media-3-info {
    margin-right: 6vw;
    background-color:rgba(0,0,0,0.8);
    border-top: 2px solid #ff8305;
    padding: 0 1vw 1vh 1vw;
    
}

.media-3-container {
    display: flex;
    height: inherit;
    margin-top: 4vw;
}

.media-3-left, .media-3-right {
    height: 70%;
    width: 50%;
}

.media-3-left{
    border-right: solid 2px white;
}

.media-3-right {
    margin-left: 5vw;
}

.media-3-link a{
    text-decoration: none;
}

.media-content {
    height: inherit;
}

.media-content iframe {
    border: solid 1px #ff8305;
    margin-left: 1vw;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}


//mobile res layout
@media only screen and (max-width: 320px) {
    
}

//tablet or laptop res layout
@media only screen and (max-width: 720px) {
    
}

//desktop res layout
@media only screen and (max-width: 1024px) {
    
}